[mysqld]

# MySQL server user
user = mysql

# Path to the PID file
pid-file = /var/run/mysqld/mysqld.pid

# Path to the socket file
socket = /var/run/mysqld/mysqld.sock

# Data directory
datadir = /var/lib/mysql

# Bind address to listen on all IP addresses
bind-address = 0.0.0.0

# Port to listen on
port = 3306

# Error log file
log-error = /var/log/mysql/error.log

# Set table names to lowercase
lower_case_table_names = 1
